/* CSS Document */

img {
	boder-radius: 1000000px;
}
.thumbnail {
	width: 100%;
}

.media-title {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	line-height: 10px;
}

.media-stats {
	margin-bottom: 4px;
}

.media-stats,
#media-counter {
	font-size: 12px;
	color: rgb(96, 96, 96)
}

.media-info-grid {
	display: grid;
	grid-template-columns: 50px 1fr;
}

.profile-picture {
	width: 36px;
	border-radius: 50px;
}

.thumbnail-row {
	margin-bottom: 8px;
	position: relative;
}

.media-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px;
}

@media (max-width: 750px) {
	.media-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 751px) and (max-width: 999px) {
	.media-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.media-grid {
		grid-template-columns: 1fr 1fr 1f 1fr;
	}
}