<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/_head') %>
		<link rel="stylesheet" href="css/img.css">
	</head>

	<body>
		<script>
			/* Get the passed-on parameters */
			const type = '<%-type%>'
			const url = '<%-url%>'
			const qs = '<%-qs%>'
			
			// Construct the pano S3 presigned URL
			const img = url + decodeURIComponent(qs)

			// Pass the image to the CSS
			const style = "--image: url('" + img + "')"
			// Add a div to the body which acts as the container for the background image
			const el = document.createElement('div');
			el.className = "bg-image"
			el.style = style
			document.body.appendChild(el)
		</script>	
	</body>
</html>