<div class="left-section">Ellesmere Island</div>
<!-- TODO add when finished
<div class="right-section">
	<input class="search-bar" type="text" placeholder="Search (tbd)">
	<button class="search-button">
		<div class="tooltip">Search</div>
	</button>
</div>
-->
