<a href="/" rel="noreferrer noopener" class="sidebar-link">
    <img src="media/icons/sidebar/home.svg" alt="Page Icon Here">
    <div>Home</div>
</a>
<a href="pan" rel="noreferrer noopener" class="sidebar-link">
    <img src="media/icons/sidebar/360-degrees.svg"  alt="Page Icon Here">
    <div>Panorama</div>
</a>
<a href="wide_angle" rel="noreferrer noopener" class="sidebar-link">
    <img src="media/icons/sidebar/lens.svg" alt="Page Icon Here">
    <div>Wide Angle</div>
</a>
<a href="hdr" rel="noreferrer noopener" class="sidebar-link">
    <img src="media/icons/sidebar/hdr.svg" alt="Page Icon Here">
    <div>HDR</div>
</a>			
<a href="about" rel="noreferrer noopener" class="sidebar-link">
    <img src="media/icons/sidebar/about.svg" alt="Page Icon Here">
    <div>About</div>
</a>